.fretboard-panel {
  .toolbar {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }
}



/* 
Standard Fretboard    
color                 
Highlight notes
Mark/unmark notes
changeable frets (VAR)

Settings Fretboard
12 frets
color
plus/minus buttons







*/