#fretboard {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 0 10px;

  .string {
    display: flex;
    gap: 5px;
    max-width: 100%;
  }

  @media(max-width: 600px) {
    gap: 2px;
    
    .string {
      gap: 2px;
    }
  }
}